/* div{
    background-color: rgb(247, 225, 229);
    display: inline;
}
button{
    display: block;
} */
div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    /* display: inline; */
    display: inline-block;
}
#box2{
    /* display: none; */
    /* display not space rejuvenation */
    visibility: hidden;   
    /* Visiblity sapce rejuvenation */
}