/* div{
    background-color: rgb(250, 197, 206);
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
    background-color: aqua;
}
li{
    list-style: none;
    display: inline;
}
ul{
    background-color: pink;
} */

/* .navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: red;
}
li{
    list-style: none;
} */
/* .outer{
    height: 400px;
    width: 400px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 200px;
    width: 200px;
    background-color: #2043b6;
    text-align: center;
    align-self: flex-start;
} */
ul{
    width: 500px;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    width: 300px;
    height: 400px;
    background-color: skyblue;
    margin: 2px;
    border-radius: 5px;
}
