*{
    padding: 0;
    margin: 0;
}
#navbar{
    height: 60px;
    background-color:#0f1111 ;
}

button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
    color: #fff;
}
.contentbox{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 805px;
}
footer{
    background-color: #0f1111;
    color: #fff;
    text-align: center;
}