/* * {
    color:rgb(189, 4, 35);
    background-color: #bb1ebb
}
li{
    color: red;
}
li{
    color: #fff;
} */
.Heading-foure{
    font-size: 15px;
    font-weight: 800;
}
#heading-three{
    color: rgb(255,0,0);
}