/* #box{
    background-color: blue;
}
.heading{
    color: red;
}
button{
    background-color: green;
} */


/* h1{
    text-align: center;
    text-decoration-line: underline overline;
}
p{
    text-align: start;
}
a{
    text-decoration: none;
} */
/* 
#head1{
    font-weight: normal;
}
#head2{
    font-weight: 100;
}
#head3{
    font-weight: 600;
}
#head4{
    font-weight: 900;
} */
#one-Para{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#two-Para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: red;
}